[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "eth-pos-devnet"]
	path = 1-class/examples/eth-pos-devnet
	url = https://github.com/OffchainLabs/eth-pos-devnet.git
[submodule "fabric-samples"]
	path = 5-class/examples/fabric-samples
	url = https://github.com/hyperledger/fabric-samples.git
